@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .bg-animate {
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
  }